body {
  background-image: url("../images/backGround.png");
  background-size: cover;

}

.alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(242, 73, 73, 0.5);
  text-align: center;
  font-weight: bold;
  padding: 20px;
  z-index: 50;
.alertText{
  display: block;
  font-size: 50px;
  color: aliceblue;
}
  button{
    margin-top: 50px;
    font-size: 40px;
    border-radius: 30%;
    border: none;
    background-color: #bcced7;
    cursor: pointer;
  }

}

.container {
  max-width: 90%;
  margin: 30px auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.29);
}

a {
  text-decoration: none;
}

.carts-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .cart {
    flex: 0 1 25%;
    margin: 50px 30px;

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    transition: 1s;
    position: relative;

    .img-main {
      display: block;
      filter: blur(2px);
      transition: 1s;
      width: 100%
    }


    &:hover {
      box-shadow: 1px 1px 20px 1px black;
      transform: scale(1.2);

      img {
        filter: blur(0);
      }
    }

    .label {
      width: 100%;
      border: none;


      h2 {
        padding: 10px 0 0;

        font-weight: bold;
        font-size: 25px;
        text-align: center;
      }

      p {
        font-size: 20px;

        text-align: center;
        padding: 10px;
      }
    }
  }
}

.logo-1, .logo-2, .logo-3 {
  position: absolute;
  width: 70px;
  z-index: 5;
}

.logo-1 {
  top: 0;
}

.logo-2 {
  top: 0;
  left: 70px;
}
.logo-3 {
  top: 0;
  left: 140px;
}

.label-tsFirst {
  background: linear-gradient(45deg, rgba(153, 56, 233, 0.5), #2bddc5);

  h2 {
    color: #9938e9;
  }

  p {
    color: #38e993;
  }
}

.label-todos {
  background: linear-gradient(45deg, rgba(188, 206, 215, 0.5), #00ffe2);

  h2 {
    color: #911138;
  }

  p {
    color: #005022;
  }
}

.label-cars-hw {
  background: linear-gradient(45deg, rgba(188, 215, 197, 0.5), #6deb28);

  h2 {
    color: #771191;
  }

  p {
    color: #006b67;
  }
}
.label-myShop{
  background: linear-gradient(45deg, rgba(215, 209, 188, 0.5), #831a72);

  h2 {
    color: #5ce82a;
  }

  p {
    color: #00e8e5;
  }
}

.label-git{
  background: linear-gradient(45deg, rgba(122, 98, 20, 0.5), #4fbbe2);

  h2 {
    color: #b717bf;
  }

  p {
    color: #65e185;
  }
}
